.client {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: -30px 0 0 -30px;
    /*& li + li {
        margin-left: 30px;}*/
        @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        margin: 0;
        & li + li {margin-left: 30px;}}
        
  }
 .client__item{
  margin: 30px 0 0 30px;
   width: calc(100% / 2 - 30px);

   @media screen and (min-width: 768px) {
    width: calc(100% / 3 - 30px);
  }
  @media screen and (min-width: 1200px) {  
    margin: 0;}
 }
  .client__link {
    display: flex;
    align-items: center;
    justify-content: center;
   /* width: 170px;*/
    height: 92px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    fill: #afb1b8;
    transition:250ms $timing-tunction;
    &:hover,
    &:focus {
    fill: $accent-color;
    border: 1px solid $accent-color;
  }
  }
  
  
  